// This file allows you to move addon's directory anywhere you want.
// ****************************************************************************
//    It MUST be located in the root of your SD card (rename it to user.config)
// ****************************************************************************
// Note:
//	/Data - is a root of
//	a: - is a root of MS card
//	b: - is a root of SD card
//
// Note:
//	Folder path MUST end with slash!

// where to search for addon resources
config.addonsPath = "b:/addons/";
// where to search for addon JS files
//could also be a file, if folder, all .js files will be combined into one
config.addonsFile = "b:/addons/"; 
// where to search for core resources (namely lang/<language>.js)
config.corePath = "b:/core/";
// where to search for core js files
// could also be a file, if folder, all .js files will be combined into one
config.coreFile = "b:/core/";
// what to log and what not, possible values are: all, trace, info, warn, error
config.defaultLogLevel = "trace";
// where to log
config.logFile = "b:/prsp.log";
